{% extends 'base.html.twig' %}

{% block main_content %}
    <section>
        <h2>Tableau de bord</h2>
        <p>Bienvenue sur le tableau de bord de l'administration. Vous pouvez visualiser ici les statistiques et les données importantes.</p>
        <div class="dashboard-stats">
            <div class="stat">
                <h2>Liste des Utilisateurs</h2>
                <ul>
                    {% for user in users %}
                        <li>{{ user.getUser() }}
                        <a href="{{ path('delete_user', {'id': user.id}) }}">
                            <svg class="svg-icon" viewBox="0 0 20 20">
                                <path fill="none" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
                            </svg>
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="stat">
                <h2>Liste des Produits</h2>
                <ul>
                    {% for product in products %}
                        <li>{{ product.getName() }} - {{ product.getPrice() }}€
                        <a href="{{ path('delete_product', {'id': product.id}) }}">
                            <svg class="svg-icon" viewBox="0 0 20 20">
                                <path fill="none" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
                            </svg>
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <section>
        <h2>Ajouter un Nouveau Produit</h2>
        {{ form(form) }}
    </section>
{% endblock %}
