<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}VR Oasis{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="container">
            <h1 class="titre">Bienvenue dans VR Oasis</h1>
            <nav>
                <ul>
                    <li><a href="{{ path('index') }}">Accueil</a></li>
                    <li><a href="{{ path('app_product') }}">Produits</a></li>
                    <li><a href="{{ path('app_panier') }}">Panier</a></li>
                    <li><a href="{{ path('app_admin') }}">Admin panel</a></li>
                    <li>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a class="link" href="{{ path('app_logout') }}">Logout</a>
                        {% else %}
                            <a class="link" href="{{ path('app_login') }}">Login</a>
                        {% endif %}
                    </li>
                    <li><a class="link" href="{{ path('app_register') }}">Register</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% block main_content %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 VR Oasis. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>
